*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');

.main{
    width: 100%;
    height: 100vh;
    background: url(count-downApp.webp) center center;
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction:column;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.title{
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    
}

.col{
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    
}

.col div{
    width: 250px;
    text-align: center;
}

input{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    
}